<!-- start custom footer snippets -->
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->

<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#edeff5",
      "text": "#838391"
    },
    "button": {
      "background": "transparent",
      "text": "#4b81e8",
      "border": "#4b81e8"
    }
  },
  revokable:true,
  "type": "info",
  "content": {
    "message": "Cookies! Ja vi bager lækre cookies og vi bruger dem også på siden her.",
    "dismiss": "Mmmh... cookies! Ja tak!",
    "allow": "Coookies, ja tak!",
    "deny": "Nej tak...",
    "link": "Få mere at vide!",
    "href": "/cookies-med-mere",
    "policy": "Privatlivspolitik"
  },
    onInitialise: function(status) {
    var type = this.options.type;
    var didConsent = this.hasConsented();
    if (type == 'opt-in' && didConsent) {
         // enable cookies
    }
   
    if (type == 'opt-out' && !didConsent) {
    // disable cookies
       

    }
    },
    onStatusChange: function(status, chosenBefore) {
    var type = this.options.type;
    var didConsent = this.hasConsented();
    if (type == 'opt-in' && didConsent) {
    // enable cookies
        

    }
    if (type == 'opt-out' && !didConsent) {
    // disable cookies
    

    }
    },
    onRevokeChoice: function() {
    var type = this.options.type;
    if (type == 'opt-in') {
    // disable cookies
    

    }
    if (type == 'opt-out') {
    // enable cookies
   
    }
    }

});
</script>
<!-- end custom footer snippets -->