
<!-- start custom head snippets -->

<!-- mentioned.app -->
<script type="text/javascript" src="https://t.mentioned.app/track/track.js" id="mentioned-by-script"
  token="Ki5Vukrz96tBZCFuHzs0HiHk_XYL9YyaMDBJ7pWvl86L-1-fq-Lm9j4Tj64m2Lf3oLI" host="ankushg.com"></script>

<!-- insert favicons. -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- end custom head snippets -->
