# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: BREDDAMS MAD
masthead_title: "<div style=\"line-height:90%;text-align:left;display:flex\"><div style=\"display: inline-block\">BREDDA<br>&nbsp; <br>&nbsp; </div><div style=\"display: inline-block;text-align:center\">M<br>A<br>D</div><div style=\"display: inline-block\">S<br>&nbsp;<br>&nbsp;</div></div>"
email: henrik.breddam@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Vi er tre søskende med passion for mad, der deler hverdagsvenlige opskrifter, som er spændende uden at være unødigt komplicerede 
twitter_username: Hbreddam
github_username: Hbreddam
minimal_mistakes_skin: default

search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
#paginate: 12 # amount of posts to show
#paginate_path: opskrifter/page:num/
pagination:
  # Site-wide kill switch, disabled here it doesn't run at all 
  enabled: true
    # Set to 'true' to enable pagination debugging. This can be enabled in the site config or only for individual pagination pages
  debug: false
  # How many objects per paginated page, used to be `paginate` (default: 0, means all)
  per_page: 9
   # The permalink structure for the paginated pages (this can be any level deep)
  permalink: '/:num/' # Pages are index.html inside this folder (default)
  #permalink: '/page/:num.html' # Pages are simple html files 
  #permalink: '/page/:num' # Pages are html files, linked jekyll extensionless permalink style.

  # Optional the title format for the paginated pages (supports :title for original page title, :num for pagination page number, :max for total number of pages)
  title: ':title - side :num'
  sort_reverse: true
  # Limit how many pagenated pages to create (default: 0, means all)
  limit: 0

  trail: 
    before: 2 # The number of links before the current page
    after: 2  # The number of links after the current page
  category: 'posts'

 
timezone: Europe/Copenhagen
locale: da
header:
include:
  - _pages

analytics:
  provider: "custom"
  google:
    tracking_id: "UA-161851109-1"
    anonymize_ip: true # default
# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate-v2
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Kristian, Helene og Henrik Breddam"
  avatar : "/assets/images/layout/bio-photo.jpg"
  bio    : "Dejlig mad"
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://breddamsmad.dk"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/breddamsmad"

footer:
  links:
    - label: "Privatlivspolitik mm."
      icon: "fas fa-cookie-bite"
      url: "/cookies-med-mere/"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/breddamsmad"
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
      comments: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
      

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

collections:
  category:
    output: true
    permalink: /:collection/:path/

alternative_image: assets/images/layout/alternative.jpg


#footer_scripts:
#  - /assets/js/printversion.js

repository  : HBreddam/hbreddam.github.io
comments:
  provider: "staticman_v2"
  staticman:
    branch: "master"
    endpoint: https://breddamsmadstaticman.herokuapp.com/v2/entry/
reCaptcha:
  enabled: true
  siteKey: "6Lc4k_kUAAAAAIHPnhStq7auOcVIOj7LOIS0_9FH"
  # Encrypt reCaptcha secret key using Staticman /encrypt endpoint
  # For more information, https://staticman.net/docs/encryption
  secret: "Vzcm4mox25xwRh9GgIlUMkW4/uzTVsTcPknsj0YN4fPfbZVF9FxTnwAFSIKnsQw7tP39mSXHYRhQC3xRYyy5mwce2UF++fY10ZFy78MZhBEpDRyOltF1Yc3Gn8/ooqpGJNay4csfyUG1Z6zS0TqjBdA+uKNcFQwYp7dJQP9I0M6IkTyH+WouYE+ay8gNIoXgURr/H/SSgFt1uQcLO5OTMORhQoMfHZ+Y73J9tk2EprH4Kqs6pIHySuSVYvOeLN5zatYbuiAO/B6JDygSOuQH1+EN3abxH4f/jGHrCKmsMqPRhrkVBW1H+M3KMrUaaGQ66jyrsEeMKI6Jl6+mK/lTOPYA2cu8IivIQ5wfmAtuq/TeXl9pYnJ7VHgZmFD9Nj498ytancYVu6EM9F1NR9X/NxGzZFO/3kFF6DdA4LUhbSZZjaBM9lCYG68NAEDOUMg9blFUz8gkwk+NXtkyzr07Wgev4RnWn8N165GSO+gYHBvMxggacwgs42qT8++3B85eocz9FnNjjuFoC4kwir31eaUqN7W+81/A7QRMW2aiS70BmWMbieeBRIgCppIUjKdyGVNai+UT0ZjSYghowP6VaCNtdNcprY2VzNEXb0anv0qsLQWKfFVmB9cWC5uhOM94Xc8fi3I2+2TIPmbklJd/YFH2ZJ6s7FkAKytxHo1JN9Q="
  