---
title: "Breddams Mad"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.15"
  overlay_image: /assets/images/layout/broed.jpg
  actions:
    - label: "Find opskrifter"
      url: "/kategorier/"
excerpt: ""

---
<a href="/opskrifter/"><h1>Nyeste opskrifter</h1></a>

{% include feature_row_category category="Opskrifter" limit=3 headline="false"%}
<a href="/blog/"><h1>Nyeste blogpost:</h1></a>
{% include feature_row_author id="feature_row1" type="right" category="Blog" %}
<a href="/henrik/"><h1>Nyeste post fra Henrik:</h1></a>
{% include feature_row_author id="feature_row2" type="left" author="Henrik" %}
<a href="/helene/"><h1>Nyeste post fra Helene:</h1></a>
{% include feature_row_author id="feature_row3" type="right" author="Helene" %}
<a href="/kristian/"><h1>Nyeste post fra Kristian:</h1></a>
{% include feature_row_author id="feature_row4" type="left" author="Kristian"%}

