---
layout: default
---

<div class="home mui-row">
  <div class="mui-col-md-8">
  {% for post in paginator.posts %}
    <article class="mui-panel">
      <div class="bg-holder {% if post.color %}bg-{{ post.color }}{% endif %}" style="{% if post.cover %}background:url({{post.cover}}) no-repeat center center{% endif %}">
        <h2 class="post-list-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.cover %}<div class="img-overlay"></div>{% endif %}
        <a href="{{ post.url | prepend: site.url }}" class="overlay"></a>
      </div>
      <div class="post-data">
        <p class="post-excerpt">{{ post.excerpt | strip_html }}</p>
        <div class="post-meta">
            <time datetime="{{ post.date | date: "%Y-%m-%dT%H:%M" }}"><i class="fa fa-calendar"></i>{{ post.date | date: "%B %-d, %Y" }}</time>
        </div>
        {% if post.tags and post.tags.size > 0 %}
        <p>
            {% for tag in post.tags %}
            <span class="post-tag"><i class="fa fa-tag"></i>{{ tag }}</span>
            {% endfor %}
        </p>
        {% endif %}
      </div>
    </article>
  {% endfor %}
  <div class="paginator">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="mui-btn mui-btn-primary"><i class="fa fa-chevron-circle-left"></i>Previous</a>
    {% endif %}
    <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="mui-btn mui-btn-primary">Next<i class="fa fa-chevron-circle-right"></i></a>
    {% endif %}
  </div>
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
  </div>
  {% include sidebar.html %}
</div>
