<!-- Services Section -->
    <section id="credentials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Credentials</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
				
				<div class="col-md-4">                    
					<img src="img/credentials/masters.jpg" class="img-responsive img-centered" alt="Master's Degree">					
                    <h4 class="service-heading">Master's Degree in Electrical and Computer Engineering</h4>
                    <p class="text-muted">Research-based program with a project on 3D medical image processing and courses on advanced statistics and advanced image analysis.</p>
                </div>
				
				<div class="col-md-4">                    
					<img src="img/credentials/IBM Applied AI.jpg" class="img-responsive img-centered" alt="IBM Applied AI">					
                    <h4 class="service-heading">Professional Certificate on Applied AI by IBM</h4>
                    <p class="text-muted">6-course specialization with hands-on labs on cloud computing APIs, machine learning, natural language processing, Python Pandas and computer vision with OpenCV.</p>
                </div>
				
				<div class="col-md-4">     
					<img src="img/credentials/DataScience.jpg" class="img-responsive img-centered" alt="Data Science Certification">					
                    <h4 class="service-heading">Certificate on Data Science by LinkedIn</h4>
                    <p class="text-muted">8-course learning path covering statistics, data governance, big data, data mining, Excel 2016, data analysis and visualization using Python, R and BigML.</p>
                </div>
				
            </div>
        </div>
    </section>