<div class="mui-col-md-4">
  <div class="mui-panel">
	  
    <h1>Links</h1>
    <ul class="about-links">
        <li><a href="/socd06.github.io/about/" class="mui-btn "><i class="fa fa-user"></i>About</a></li>
    </ul>  
	  
    <h2>Resume</h2>
    <ul class="about-links">
	<li><a href="https://github.com/socd06/resume/raw/master/Carlos_Salgado_Resume_git.doc" target="_blank" class="mui-btn ">
		<i class="fa fa-file-word-o"></i>*.doc</a></li>
      	<li><a href="https://github.com/socd06/resume/raw/master/Carlos_Salgado_Resume_git.pdf" target="_blank" class="mui-btn ">
		<i class="fa fa-file-pdf-o"></i>*.pdf</a></li>	    
    </ul>  
	  
    <h2>Contact</h2>
    <ul class="about-links">
        {% if site.links.github %}
        <li><a href="https://github.com/{{ site.links.github }}" target="_blank" class="mui-btn"><i class="fa fa-github"></i>Github</a></li>
        {% endif %}
        <li><a href="https://www.linkedin.com/in/eng-socd/" target="_blank" class="mui-btn "><i class="fa fa-linkedin-square"></i>LinkedIn</a></li>
        {% if site.links.email %}
        <li><a href="mailto:{{ site.links.email }}" class="mui-btn"><i class="fa fa-envelope"></i>Personal</a></li>
        {% endif %}
		<li><a href="csalgado@uwo.ca" target="_blank" class="mui-btn "><i class="fa fa-suitcase"></i>Professional</a></li>	    
    </ul>
	  
  </div>
</div>
