<div class="mui-col-md-4">
  <div class="mui-panel">
    <h2>Links</h2>
    <ul class="about-links">
        <li><a href="/bitwiser-material/about/" class="mui-btn">About</a></li>
    </ul>
    <h2>Contact</h2>
    <ul class="about-links">
        {% if site.links.github %}
            <li><a href="https://github.com/{{ site.links.github }}" target="_blank" class="mui-btn"><i class="fa fa-github"></i>Github</a></li>
        {% endif %}
        {% if site.links.twitter %}
            <li><a href="https://twitter.com/{{ site.links.twitter }}" target="_blank" class="mui-btn "><i class="fa fa-twitter"></i>Twitter</a></li>
        {% endif %}
        {% if site.links.facebook %}
            <li><a href="https://www.facebook.com/{{ site.links.facebook }}" target="_blank" class="mui-btn"><i class="fa fa-facebook"></i>Facebook</a></li>
        {% endif %}
        {% if site.links.email %}
            <li><a href="mailto:{{ site.links.email }}" class="mui-btn"><i class="fa fa-envelope"></i>Mail</a></li>
        {% endif %}
    </ul>
  </div>
</div>
