<div class="mui-col-md-4">
  <div class="mui-panel">
    <h2>Links</h2>
    <ul class="about-links">
        <li><a href="/socd06.github.io/about/" class="mui-btn">About</a></li>
    </ul>
    <h2>Contact</h2>
    <ul class="about-links">
        {% if site.links.github %}
            <li><a href="https://github.com/{{ site.links.github }}" target="_blank" class="mui-btn"><i class="fa fa-github"></i>Github</a></li>
        {% endif %}
        {% if site.links.LinkedIn %}
            <li><a href="https://LinkedIn.com/in/eng-socd/" target="_blank" class="mui-btn "><i class="fa fa-LinkedIn"></i>LinkedIn</a></li>
        {% endif %}   
        {% if site.links.email %}
            <li><a href="mailto:{{ site.links.email }}" class="mui-btn"><i class="fa fa-envelope"></i>Mail</a></li>
        {% endif %}
    </ul>
  </div>
</div>
