---
# Only the main Sass file needs front matter (the dashes are enough)
---

.img_content { margin-left: auto; margin-right: auto; display: block }

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
