---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

.full-width {
  .page, .archive, .breadcrumbs ol {
    float: left;
    width: 100%;
  }
  @media (min-width: 48em) { .grid__item .archive__item-teaser { max-height: 175px; } }
}

.archive div.entries-list div.list__item:first-child h2.archive__item-title {
  margin-top: 0;
}

#site-nav a.site-title {
  line-height: 1.25;
}

h1.page__title {
  margin-bottom: 0;
}

.page__hero--overlay p:last-child {
  margin-bottom: 0;
}

.bio {
  display: block;
  clear: both;

  h2 small {
    font-weight: normal;
  }

  .author__avatar {
    float: right;

    img {
      max-width: 175px;
      border-radius: 0;
    }

    @media (min-width: 48em) {
      margin: 0 0 15px 15px;
    }
  }
}

a[href*="//"]:not([href*="localhost"]):after {
  content: url(/assets/images/external-link.png);
  margin: 0 0 0 5px;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
