---
layout: single
---



        
{{ content }}

<h1>Opskrift</h1>
<div>
<center>
<div style=" display: inline-block; width: 30%">{% if page.recipe.servings %} <i class="fas fa-utensils"></i> {{page.recipe.servings}}  {% endif %}</div>   <div style=" display: inline-block; width: 30%">{%if page.recipe.prep %} <i class="fas fa-user-clock"></i> {{page.recipe.prep}} {% endif %}</div><div style=" display: inline-block; width: 30%"> {% if page.recipe.cook %} <i class="fas fa-clock"></i> {{page.recipe.cook}} {% endif %}</div>
</center>
</div>
<h2>Ingredienser</h2> 

<div style="vertical-align:top; width: 100%; line-height: 1; font-size: 0.7em">
<div style=" width: 100%;  ">
{% for part in page.recipe.ingredients.single %}
<b>{{part.part}}</b>
<ul>
{% for item in part.items %}
<li> {{item.name}}{% if item.note %}<span style="opacity: 0.7; ">  ({{item.note}})</span>{% endif %}
    {% if item.prep %}
     <br>
    <i style="opacity: 0.7;">- {{item.prep}}</i>
    {% endif %}
</li>
{% endfor %}
</ul>
{% endfor %}
</div>
<div style=" display: inline-block; width: 45%;  ">
{% for part in page.recipe.ingredients.left %}
<b>{{part.part}}</b>
<ul>
{% for item in part.items %}
<li> {{item.name}}{% if item.note %}<span style="opacity: 0.7; ">  ({{item.note}})</span>{% endif %}
    {% if item.prep %}
     <br>
    <i style="opacity: 0.7;">- {{item.prep}}</i>
    {% endif %}
</li>
{% endfor %}
</ul>
{% endfor %}
</div>

<div style="float: right ;display: inline-block;width: 45%; ">
{% for part in page.recipe.ingredients.right %}
<b>{{part.part}}</b>
<ul>
{% for item in part.items %}
<li> {{item.name}}{% if item.note %}<span style="opacity: 0.7; ">  ({{item.note}})</span>{% endif %}
    {% if item.prep %}
    <br>
    <i style="opacity: 0.7;">- {{item.prep}}</i>
    {% endif %}
    </li>
{% endfor %}
</ul>
{% endfor %}
</div>
</div>

<h2>Fremgangsmåde</h2>
<div style="vertical-align:top; width: 100%; line-height: 1.5; font-size: 0.7em">
{% for part in page.recipe.directions %}
<b>{{part.part}}</b>
<ol>
{% for step in part.steps %}
    <li>{{step.step }}
    {% if step.substeps %}
      <ul>
      {% for sub in step.substeps %}
        <li>{{sub.substep}}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endfor %}
</ol>
{% endfor %}
</div>
