---
layout: single
---



        
{{ content }}

<h1>Opskrift</h1>
<div>
<center>
<div style=" display: inline-block; width: 30%">{% if page.recipe.yield %} <i class="fas fa-utensils"></i> {{page.recipe.yield | markdownify | remove: '<p>' | remove: '</p>'  }}  {% endif %}</div>   <div style=" display: inline-block; width: 30%">{%if page.recipe.prepTime %} <i class="fas fa-user-clock"></i> {{page.recipe.prepTime | markdownify | remove: '<p>' | remove: '</p>'  }} {% endif %}</div><div style=" display: inline-block; width: 30%"> {% if page.recipe.totalTime %} <i class="fas fa-clock"></i> {{page.recipe.totalTime | markdownify | remove: '<p>' | remove: '</p>'  }} {% endif %}</div>
</center>
</div>
<h2>Ingredienser</h2> 

<div style="vertical-align:top; width: 100%; line-height: 1; font-size: 0.8em">
<div style=" width: 100%;  ">
{% for part in page.recipe.ingredients.single %}
<b>{{part.part | markdownify | remove: '<p>' | remove: '</p>' }}</b>
<ul style="padding-left: 1.2em; ">
{% for item in part.items %}
<li> {% if item.amount %}{{item.amount| markdownify | remove: '<p>' | remove: '</p>' }} {% endif %}{{item.name| markdownify | remove: '<p>' | remove: '</p>' }}{% if item.note %}<span style="opacity: 0.7; ">  ({{item.note | markdownify | remove: '<p>' | remove: '</p>'  }})</span>{% endif %}
    {% if item.prep %}
     <br>
    <i style="opacity: 0.7;">- {{item.prep | markdownify | remove: '<p>' | remove: '</p>' }}</i>
    {% endif %}
</li>
{% endfor %}
</ul>
{% endfor %}
</div>
<div style=" display: inline-block; width: 45%;  ">
{% for part in page.recipe.ingredients.left %}
<b>{{part.part | markdownify | remove: '<p>' | remove: '</p>'  }}</b>
<ul style="padding-left: 1.2em; ">
{% for item in part.items %}
<li>{% if item.amount %}{{item.amount | markdownify | remove: '<p>' | remove: '</p>'  }} {% endif %}{{item.name | markdownify | remove: '<p>' | remove: '</p>'  }}{% if item.note %}<span style="opacity: 0.7; ">  ({{item.note | markdownify | remove: '<p>' | remove: '</p>'  }})</span>{% endif %}
    {% if item.prep %}
     <br>
    <i style="opacity: 0.7;">- {{item.prep | markdownify | remove: '<p>' | remove: '</p>'  }}</i>
    {% endif %}
</li>
{% endfor %}
</ul>
{% endfor %}
</div>

<div style="float: right ;display: inline-block;width: 45%; ">
{% for part in page.recipe.ingredients.right %}
<b>{{part.part | markdownify | remove: '<p>' | remove: '</p>'  }}</b>
<ul style="padding-left: 1.2em; ">
{% for item in part.items %}
<li>{% if item.amount %}{{item.amount | markdownify | remove: '<p>' | remove: '</p>'  }} {% endif %}{{item.name | markdownify | remove: '<p>' | remove: '</p>'  }}{% if item.note %}<span style="opacity: 0.7; ">  ({{item.note | markdownify | remove: '<p>' | remove: '</p>'  }})</span>{% endif %}
    {% if item.prep %}
    <br>
    <i style="opacity: 0.7;">- {{item.prep | markdownify | remove: '<p>' | remove: '</p>'  }}</i>
    {% endif %}
    </li>
{% endfor %}
</ul>
{% endfor %}
</div>
</div>

<h2>Fremgangsmåde</h2>
<div style="vertical-align:top; width: 100%; line-height: 1.5; font-size: 0.8em">
{% for part in page.recipe.directions %}
<b>{{part.part | markdownify | remove: '<p>' | remove: '</p>'  }}</b>
{% if part.steps.size == 1 %}
{{part.steps.first.step | markdownify | remove: '<p>' | remove: '</p>' }}
    {% if part.steps.first.substeps %}
      <ul>
      {% for sub in part.steps.first.substeps %}
        <li>{{sub.substep | markdownify | remove: '<p>' | remove: '</p>'  }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    <br>
    <br>
{% else %}
<ol>
{% for step in part.steps %}
    <li>{{step.step | markdownify | remove: '<p>' | remove: '</p>' }}
    {% if step.substeps %}
      <ul>
      {% for sub in step.substeps %}
        <li>{{sub.substep | markdownify | remove: '<p>' | remove: '</p>'  }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endfor %}
</ol>
{% endif %}
{% endfor %}
</div>
{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

{% assign single = page.recipe.ingredients.single %}
{% assign left = page.recipe.ingredients.left %}
{% assign right = page.recipe.ingredients.right %}


{% if single %}

{% assign allingredients = single%}{% endif %}
{% if left %}
{% unless allingredients %} {% assign allingredients = left%} 
{% else %}
{% assign allingredients = allingredients | concat: left %}
{% endunless %}
{% endif %}
{% if right %}
{% unless allingredients %} {% assign allingredients = right%} 
{% else %}
{% assign allingredients = allingredients | concat: right %}
{% endunless %}
{% endif %}

{{page.tags}}
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Recipe",
    "name": "{{page.title}}",
    "author": {"@type": "Person",
    "name":  "{{author.name}}" },
    "image": "{{site.url}}{{page.header.teaser}}",
    {% if page.recipe.cuisine %}"recipeCuisine": "{{page.recipe.cuisine}}", {% endif %}
    {% unless page.recipe.keywords %}"keywords": [ {%for category in page.categories%}"{{category}}"{% if forloop.last != true or page.tags.size != 0 %},{%endif%} {% endfor %}{%for category in page.tags%}{% unless category == page.author %} "{{category}}" {% if forloop.last != true %},{%endif%}{%endunless%} {% endfor %} ],
    {% else %} "keywords": "{{page.recipe.keywords}}", {% endunless %}
    "description": "{%if page.recipe.description_short %}{{page.recipe.description_short}} {% else %}{{page.excerpt}}{% endif %}",
    {% if page.recipe.prepTime_iso %} "prepTime": "{{page.recipe.prepTime_iso}}", {% endif %}
    {% if page.recipe.totalTime_iso %}"totalTime": "{{page.recipe.totalTime_iso}}", {% endif %}
    {% if page.recipe.yield %}"recipeYield": "{{page.recipe.yield}}", {% endif %}
    "recipeCategory": [{%for category in page.categories%}"{{category}}"{% if forloop.last != true %},{%endif%} {% endfor %}],
    "recipeIngredient": [{% for part in allingredients  %}
      {% for item in part.items %}"{{item.amount}} {{item.name}}" {% unless forloop.last == true and forloop.parentloop.last == true %},{% endunless %}
      {% endfor %}{% endfor %}
    ],
    "recipeInstructions": [{% for part in page.recipe.directions  %}
    {% for step in part.steps %}"{{step.step  | replace: '"', '\\"' | remove: '**' | remove: '[' | remove: ']' }} {% for substep in step.substeps %}
    - {{substep.substep  | replace: '"', '\\"' | remove: '**' | remove: '[' | remove: ']' }} {% endfor %}" {% unless forloop.last == true and forloop.parentloop.last == true %},{% endunless %}
    {% endfor %}{% endfor %}
     ]
  }
  </script>



